/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
font-family: "Righteous";
src: url("../fonts/BalooChettan-Regular.ttf");
src: url("../fonts/BalooChettan-Regular.ttf");
}
@import "tailwindcss";


.header_section{
    width: 100%;
    background-image: url(./assets/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Move bullets like image */
.swiper-pagination {
  bottom: 30px !important;
  left: 0 !important;
  width: auto !important;
  padding-left: 20px;
  text-align: left !important;
}

/* Bullet default */
.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: #ffb607 !important; /* yellow */
  opacity: 1 !important;           /* remove transparency */
  margin: 0 6px !important;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #111111 !important;     /* black */
}


@media only screen and (max-width: 600px) {
 .swiper-pagination{
  visibility: hidden;
 }
 .header_section{
  height: 100%;
  background-size: cover;
 }

}